/* GENERAL USER PROFILE STYLES */
h3 {
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color:#718752;
}

h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color:white
}

/* USER PROFILE PIE CHART WITH LIFETIME TOTAL CARD*/
#piechart {
    height: 20px;
    width: 20%;
    padding-bottom: 20px;
  }

#pie-chart-header {
    background-color: #fdfdfd;
}

#lifetime-total {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
}

#lifetime-buffer {
    margin-top: 150px;
}


/* USER PROFILE DAILY RATE CARD */
#weight-label {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

#daily-rate-card {
    background-color:#fdfdfd;
    border-color: #718752;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: lowercase;
}

#daily-rate-padding {
    margin-top: 20px;
}

/* USER PROFILE RECORDS IN CALENDAR GRID */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}

#display-record {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

#record-button-recycle {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-right: 33px;
    padding-left: 33px;
    margin-bottom: 2px;
    margin-left: 2px;
    background-color: #037ba0;
    border-color: #037ba0;
}

#record-button-compost {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-right: 33px;
    padding-left: 33px;
    margin-bottom: 2px;
    margin-left: 2px;
    background-color: #8fa175;
    border-color: #8fa175;
}

#record-button-trash {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-right: 33px;
    padding-left: 33px;
    margin-bottom: 2px;
    margin-left: 2px;
    background-color: #2E2E30;
    border-color: #2E2E30;
}

#record-button-hazard {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-right: 33px;
    padding-left: 33px;
    margin-bottom: 2px;
    margin-left: 2px;
    background-color: #84031b;
    border-color: #84031b;
}

.container {
    padding-top: 20px;
}

.container .card {
    border-color: #718752;
    margin-bottom: 40px;
}

.container .card-header {
    background-color: #718752;
    border: 0;
    color: #fdfdfd;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 10px 0;
    text-align: center;
    outline: none;
}

.container .card-body {
    background-color: #fdfdfd;
    color: #2E2E30;
    text-align: center;
}

.container .card-footer {
    background-color: #fdfdfd;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.container .swiper-button-prev {
    color: #718752;
}
  
.container .swiper-button-next {
    color: #718752;
}
  
.container .swiper-pagination-bullet-active {
    background: #718752;
    margin-bottom: 50px;
}


/* BUTTONS TO LOG WASTE RECORDS */
#log-bag {
    background-color: #718752;
    border-color: #718752;
    width: 98%;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: 20px;
}

#log-bag:hover {
    background-color: white;
    color: #718752;
}

#log-item-btn {
    background-color: #718752;
    border-color: #718752;
    width: 98%;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    padding: 10px 0;
    margin-bottom: 20px;
    outline: none;
}

#log-item-btn:hover {
    background-color: white;
    color: #718752;
}

/* USER PROFILE MODALS */
.modal-header {
    background-color: #e8ede3;
    color:#fdfdfd;
    border: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.modal-title {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2E2E30;
}

.modal-content {
    background-color: #e8ede3;
    border: 0;
    width: 85%;
    text-align: center;

}

.modal-footer {
    border: 0;
}

/* LOG A BAG MODAL */
#addrecord {
    background-color: #e8ede3;
    padding-bottom: 220px;
    margin-top: 0px;
    font-size: 16px;
    text-align: center;
    align-content: baseline;
    outline: none;
}

.log-input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    height: 40px;
    background: #f7f7f7;
    color:#2E2E30;
    border-radius: 0px;
    border-width: 0;
    margin: 0 0 4px;
    width: 70%;
    padding-left: 13px;
    outline: none;
}

#lbs-label {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

#select-bin {
    font-style: normal;
    font-size: 14px;
    margin-top: 8px;
}

#select-title {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-right: 5px;
    letter-spacing: 1px;
    text-align: center;
}

#bin-type {
    font-style: normal;
    background-color: #f7f7f7;
    color:#2E2E30;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    border: transparent;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 12px;
    line-height: 20px;
    letter-spacing: 1px;
}

.log-bag-option {
    font-style: normal;
    color:#718752;
    font-weight: 400;
    font-size: 14px;
}

#log-bag-btn {
    background-color: #718752;
    border-color: #718752;
    width: 80%;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: 14px;
}

#log-bag-btn:hover {
    background-color: white;
    border-color: #718752;
    color: #718752;
}

/* VIEW RECORD DETAILS MODAL */
#show-record {
    background-color: #e8ede3;
    padding-bottom: 270px;
    margin-top: 0px;
    font-size: 16px;
    text-align: center;
    align-content: baseline;
}

#show-record-title {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2E2E30;
    margin-top: 0px;
    margin-bottom: 10px;
}

.show-record-info {
    height: 40px;
    margin-bottom: 5px;
}

#show-record-weight {
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
}

#show-record-bin {
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
    height: 40px;
    margin-bottom: 31px;
    margin-top: 0px;
}

#delete-record-btn {
    background-color: #718752;
    border-color: #718752;
    width: 80%;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    padding: 10px 0;
    margin-bottom: 10px;
}

#delete-record-btn:hover {
    background-color: white;
    border-color: #718752;
    color: #718752;
}




