/* USER PROFILE PIE CHART */
#piechart {
    height: 20px;
    width: 20%;
  }

/* USER PROFILE RECORDS */
.flex-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}
