{% extends 'base.html' %}
{% block title %} Waste Management App {% endblock %}

{% block body %}

<div>
    <h1>Welcome to my App!</h1>
</div>

{% if not session.get('user_id') %}
<div id="login-form">
  <h2>Log In</h2>
      <form action="/login" method="POST">
          <div>
            <label for="email"></label>
            <input type="text" name="email" placeholder="email" required>
          </div>
          <div>
            <label for="password"></label>
            <input type="password" name="password" placeholder="password" required>
          </div>
        <input value="Login" type="submit">
        <div>
          Don't have an account?
          <span id="registration-span">Register.</span>
        </div>
      </form>
</div>
{% endif %} 

<div id="register-form" hidden>
  <h2>Create an account</h2>
      <form action="/register" method="POST">
        <div>
          <label for="name"></label>
          <input type="text" name="name" placeholder="first name">
        </div>
          <div>
            <label for="email"></label>
            <input type="text" name="email" placeholder="email" required>
          </div>
          <div>
            <label for="password"></label>
            <input type="password" name="password" placeholder="password" required>
          </div>
        <input value="Register" type="submit">
        <div>
          Already have an account?
          <span id="login-span">Login.</span>
        </div>
      </form>
</div>



<!----------------- JS SCRIPT FOR HOMEPAGE --------------------------->

<script src="/static/homepage.js"></script>

{% endblock %}