{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block head %}

<!-- CHART JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}
{% block body %}

<!------------- USER GREETING -------------------------------------->
<!-- <div>
    <h1>Hi {{ user.name }}!</h1>
</div> -->

<input type="hidden" id="user-id" value="{{ session.get('user_id') }}">
<!-- <input type="hidden" id="current_date" value="{{ session.get('current_date') }}"> -->

<!-- 
          <div>
            <span>YOUR DAILY RATE:</span>
            <div id="daily-rate"></div>
          </div>
        </button>
        <button>
          <div>  -->


<!---------------- PIE CHART ----------------------------------------->
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
      <!-- pie chart and counter of user's lifetime totals-->
          <div id="display-pie-chart">
            <canvas id="piechart"></canvas>
          </div>
        </div>
        <br>
          <div>You have produced:</div>
            <h1 id="lifetime-total"></h1>
          </div>
        </div>

<!----------------- BUTTONS TO LOG A NEW RECORD ------------------------------->
    <div class="col-6">
     <div class="row">
      <button id="log-bag" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show-log-bag-modal">Log a bag of waste</button>
      <button id="log-item-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show-search-item-modal">Look up an item to Log</button>
    </div>
<!----------------- SHOW USER RECORDS AS GRID ON PROFILE ---------------------->
<!-- would like this to be a grid and each record to show up as a tiny img -->
<!-- think about if this needs to be ordered by year and date --> 

<div class="flex-container">
<div id="display-record">
  {% for record in records %}
  <div id="record-{{ record.record_id }}">
  <button class="btn btn-primary modal-btn user-record-btn" data-bs-toggle="modal" data-bs-target="#show-record-modal" value="{{ record.record_id }}">
    <p value="{{ record.record_id }}">{{ record.bin_type_code }}</p>
    <p value="{{ record.record_id }}">Date - {{ record.date_time }}</p>
    <p value="{{ record.record_id }}">Weight - {{ record.weight }} lbs</p>
    <input hidden id="delete-record-id" value="{{ record.record_id }}">
  </button>
  </div>
  {% endfor %}
</div>
</div>


 <!----------------- MODAL FOR EACH INDIVIDUAL USER RECORD  ----------------->
<div class="modal fade" id="show-record-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="record">RECORD</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- form to DELETE RECORD -->
        <form id="show-record">
          <div class="modal-body">
            <!-- WHERE THE INDIVIDUAL RECORD DETAILS SHOW UP -->
            <div id="show-a-record"></div>
          </div>
          <div class="modal-footer">
            <!-- MAKE AN EDIT BUTTON HERE? -->
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Edit</button> -->
            <input type="submit" id="delete-record-btn" data-bs-dismiss="modal" class="btn btn-primary delete-record" value="Delete"></button>
          </div>
        </form>
      </div>
    </div>
  </div>


<!------------- MODAL TO ADD A BAG OF WASTE TO Records table in DB -------------------------->
<div class="modal fade" id="show-log-bag-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-bag">Log a bag of waste</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- form to record a bag of waste -->
      <form id="addrecord">
        <label for="add-record"></label>
      <div>
        <p>
          <label for="bintype">Select a bin type:</label>
            <select id="bin-type">
              <option value="T">Trash</option>
              <option value="C">Compost</option>
              <option value="R">Recycle</option>
              <option value="H">Hazard</option>
            </select>
        </p>
      </div>
    <div>
      <p>
        <label for="weight">Weight:</label>
          <input type="text" id="weight" placeholder="weight in pounds"><span> lbs</span> 
    <!-- <label for="pounds-kilograms"></label>
    <select id="lbs-kg">
        <option value="Lbs">Pounds</option>
        <option value="Kg">Kilograms</option>
    </select> -->
    <!-- <input type="range" id="weight" name="weight" min="0" max="1000" step="0.01"> -->
    <!-- </p> -->
    </div> 
      <input type="submit" data-bs-dismiss="modal" value="Add record">
      </form>
    </div>
  </div>
</div>


<!------------- MODAL TO LOOK UP AN ITEM OF WASTE -------------------------->
<div class="modal fade" id="show-search-item-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="item-search">Search for an item to Log:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- form to look up an item of waste to log -->
      <!-- SEARCH -->
      <div class="container">
        <div class="row">
          <form action="/search" method="GET">
          <div>
            <label for="search"></label>
            <input type="text" name="q" placeholder="Look for an item to add">
          </div>
            <input value="Search" type="submit">
          </form>
        </div>
      </div>
</div>


<!----------------- JS SCRIPTS FOR PROFILE ------------------------------>

<script src="/static/profile.js"></script>

{% endblock %}