{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
<div>
    <h1>Hi {{ user.name }}!</h1>
</div>
<div>
    <nav>
        <div>
            <a href="/profile/logout">
                <button>Log Out</button>
            </a>
        </div>
    </nav>
</div>
<div>
    <h2>Search</h2>
        <form action="/search" method="GET">
            <div>
              <label for="search"></label>
              <input type="text" name="q" placeholder="Search for something">
            </div>
        <input value="Search" type="submit">
    </form>
  </div>

<!------------- FORM TO ADD A RECORD TO DB ------------------------>
<input type="hidden" id="user-id" value="{{ session.get('user_id') }}">

<div>
<h2>Add a record:</h2>
<form id="addrecord">
<label for="add-record"></label>

    <div>
    <p>
    <label for="bintype">Select a bin type:</label>
    <select id="bin-type">
        <option value="T">Trash</option>
        <option value="C">Compost</option>
        <option value="R">Recycle</option>
        <option value="H">Hazard</option>
    </select>
    </p>
    </div>

    <div>
    <p>
    <label for="weight">Enter in a Weight:</label>
    <input type="range" id="weight" name="weight" min="0" max="1000" step="0.01">
    </p>
    </div>

    <input type="submit" value="Add record">

</form>
</div>


<!--------------- DISPLAY USER WASTE RECORDS ---------------------->
<br>
<div>
    <h2>{{ user.name }}'s Waste Records</h2>
        <div id="display-record">
            {% for record in user.records %}
            <div>
                <p>

                Bin Type- {{ record.bin_type_code }}
                Weight- {{ record.weight }}
                </p>
            </div>
            {% endfor %}

        </div>
</div>


<!----------------- JS SCRIPT FOR USER ---------------------------->
<script src="/static/profile.js"></script>

{% endblock %}