{% extends 'base.html' %}
{% block title %} Waste Not {% endblock %}
{% block head %}

<!-- REACT  -->
<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.20.1/babel.js" integrity="sha512-d8ciNFnLWxAD7NIqQBu4KbUtoRY0Vo4e+tj0b27BH0G5cbqhDhwJR4s7Tber9PVegRlwXgl39qJe8rQxAGrjwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}

{% block body %}
<input type="hidden" id="user-id" value="{{ session.get('user_id') }}">

<!-- React search results -->
<div id="search-page"></div>



<!------------- SCRIPT FOR JSX ----------------------------->

<script type="text/jsx" src="/static/search.jsx"></script>

{% endblock %}